.navbar {
  background: whitesmoke;
}

.TOP {
  margin-bottom: -12%;
}

.logonew {
  width: auto;
  height: 50px;

  font-size: larger;
  font-weight: bold;

}

.nav-link:hover {
  background: linear-gradient(180deg, #c32121 0, #c16108);
  border-radius: 1.3rem;
}

.navbar-collapse {
  text-align: center;
  margin-left: 10%;
}

.navbar-toggler {
  width: 40px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: rebeccapurple;
  border-radius: 1px;
  left: 0;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* state when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}



.welcome {
  color: darkblue;
  margin-top: 15%;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  font-family: math;
}

.our {
  text-align: center;
  font-size: xx-large;
  background: gainsboro;
  color: darkblue;
  margin-bottom: 5%;
  font-family: math;
}

.detail {
  font-size: initial;
  text-align: justify;
}

.miss {
  MARGIN-TOP: 20%;
  font-size: xx-large;
  color: darkblue;
}

.due {
  font-size: xx-large;
  color: darkblue;
}

.caursel {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn.btn-primary {
  border-radius: 1.2rem;
}

.btn.btn-primary:hover {
  background-color: #5d4bc7;
  color: white;
}

.contact {
  font-size: 5.2rem;
}

.detail {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: justify;
}

/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.slide-container {
  max-width: 1250px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: #FFF;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #3b71ca;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: darkblue;
}

.description {
  font-size: 14px;
  color: royalblue;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #3b71ca;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.swiper-navBtn {
  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #3b71ca;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}

.midle {
  text-align: center;
  margin-top: 25%;
  font-size: 40px;
  color: darkblue;
}

.fnt-enq {
  margin-left: 40%;
  border-radius: 2.2rem;
  background: #3b71ca;
  color: white;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}


.mb-3 {
  font-weight: bold;
}

/* Provident fund */
.navtop {
  margin-top: 5%;
}

.epf {
  margin-bottom: 5%;
}

.epfo {

  border-color: navy;

  margin-top: 5%;

  margin-bottom: 5%;

}

.pf {
  text-align: center;
  font-size: xx-large;
  font-family: ui-sans-serif;
  font-weight: bold;
}

.pfimg {
  width: 5%;
}

.pfdesc {
  font-size: medium;
  text-align: justify;
}

.pfesi {
  font-size: x-large;
  color: darkblue;
  text-decoration: underline;
}

.imgslide {
  height: 300px;
}

.gooform {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.contact {
  margin-left: 40%;
  width: 20%;
}

.fontall {
  font-size: large;
}

.imgother {
  width: 80%;

}

.topcont {
  margin-top: 10%;

}

.enqtop {
  margin-bottom: 5%;
}

.enq {
  text-align: center;
  font-size: xx-large;
  font-family: ui-sans-serif;
  font-weight: bold;
}

.choose {
  font-weight: bold;
}

.imgother {
  margin-left: 10%;
  margin-top: 20%;
  width: 100%;
}

.mt5 {
  color :white
}